header {
	
	background:black;
	height:60px;
	
}

header ul li {
	
	float:left;
	font-size:20px;
}

header ul {
	
	position:absolute;
	left:350px;
	
}

header ul li a {
	
	padding:20px;
	display:block;
	color:#eee;
}

header ul li a:hover {
	
	text-decoration:none;
	color:white;
	background:dodgerblue;
}

.logo img {
	
	float:left;
	background:#ddd;
	margin-left:20px;
}
.genel {
	
	width:1300px;
	margin:auto;
	margin-top:10px;
}

.urunler {
	
	
	height:300px;
	background:white;
	margin-top:20px;
	margin-bottom:20px;
}


.urun {
	height:270px;
	width:300px;
	text-align:center;
	padding:10px;
	background:#ccc;
	float:left;
	margin:14px 12px;
}

.urun h2 {
	
	padding:5px;
	font-size:18px;
	font-weight:bold;
}

.urun:hover {
	
	background:dodgerblue;
	transition: all 0.5s;
}


.sertifika {
	
	height:400px;
	
	margin-bottom:20px;
}

.film {
	
	float:left;
	width:500px;
	
	
}

.film h2 {
	
	font-weight:bold;
	font-size:20px;
	padding:10px;
	border-bottom: 2px dotted white;
	margin-bottom:10px;
}

.film img {
	
	float:left;
	padding:10px;
}

.film p{ 

  padding:10px;

}

.referanslar {
	
	
	height:210px;
	margin-bottom:20px;
}

.referanslar h2 {
	
	padding:10px;
	border-bottom:2px dotted white;
	font-size:20px;
	font-weight:bold;
	margin-bottom:10px;
}

footer {
	
	
	height:200px;
	background:black;
	
}

.footer {
	
	position:absolute;
	left:300px;
	
	width:600px;
}

.footer ul li {
	
	float:left;
	font-size:22px;
	
}

.footer ul li a {
	
	display:block;
	padding:15px;
	color:#ddd;
	font-family:arial
}

.footer ul li a:hover {
	
	color:dodgerblue;
	text-decoration:none;
}


.footer p {
	
	color:#969696;
	
}

.sosyal {
	
	float:right;
	position:absolute;
	right:200px;
	width:400px;
	height:100px;
	
	margin-top:30px;
}

.sosyal h2 { 

   font-size:19px;
   font-weight:bold;
   padding:10px;
   color:white;
   border-bottom:2px solid #ddd;
   margin-bottom:10px;
}

.icerikler {
	
	height:600px;
	
}

.baslik {
	
	
	width:1200px;
	background: #4AC29A;  /* fallback for old browsers */
   background: -webkit-linear-gradient(to right, #BDFFF3, #4AC29A);  /* Chrome 10-25, Safari 5.1-6 */
   background: linear-gradient(to right, #BDFFF3, #4AC29A); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
   margin:auto;
   text-align:center;
   height:100px;
   padding:10px;
}

.baslik h2 {
	
	font-size:23px;
	font-weight:bold;
	padding:5px;
}

.baslik span {
	
	font-size:18px;
	
}


.aciklama {
	
	
	background:white;
	height:450px;
	margin:auto;
	width:1100px;
	position:relative;
	top:20px;
	padding:20px;
	
}


.aciklama img {
	
	
	float:left;
	padding:10px;
	
}

.aciklama p {
	
	padding:10px;
	width:700px;
	font-size:18px;
	
}

.iletisim  {
	
	float:right;
	width:280px;
	height:300px;
	
}













